<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.wcs.produce.dao.ProduceBatchMapper">

    <resultMap type="com.middle.wcs.produce.entity.po.ProduceBatch" id="ProduceBatchMap">
        <id     property="id"          column="id"           jdbcType="BIGINT"/>
        <result property="batchNo"     column="batch_no"     jdbcType="VARCHAR"/>
        <result property="sterilizationOrderNo" column="sterilization_order_no" jdbcType="VARCHAR"/>
        <result property="palletQuantity"       column="pallet_quantity"        jdbcType="INTEGER"/>
        <result property="sterilizerNameCode"   column="sterilizer_name_code"   jdbcType="VARCHAR"/>
        <result property="processPlanNameCode"  column="process_plan_name_code" jdbcType="VARCHAR"/>
        <result property="status"      column="status"       jdbcType="CHAR"/>
        <result property="invalidFlag" column="invalid_flag" jdbcType="CHAR"/>
        <result property="confirmTime" column="confirm_time" jdbcType="TIMESTAMP"/>
        <result property="finishTime"  column="finish_time"  jdbcType="TIMESTAMP"/>
        <result property="createdAt"   column="created_at"   jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectCurrentExecuting" resultMap="ProduceBatchMap">
        SELECT TOP 1 id, batch_no, sterilization_order_no, pallet_quantity, sterilizer_name_code,
               process_plan_name_code, status, invalid_flag, confirm_time, finish_time, created_at
        FROM dbo.produce_batch
        WHERE invalid_flag = '0'
          AND status IN ('1', '2')
        ORDER BY created_at DESC
    </select>

    <select id="countExecutingExcludeBatch" resultType="int">
        SELECT COUNT(1)
        FROM dbo.produce_batch
        WHERE invalid_flag = '0'
          AND status IN ('1', '2')
          <if test="excludeBatchId != null">
              AND id != #{excludeBatchId}
          </if>
    </select>

    <select id="selectListByPage" resultMap="ProduceBatchMap">
        SELECT b.id, b.batch_no, b.sterilization_order_no, b.pallet_quantity, b.sterilizer_name_code,
               b.process_plan_name_code, b.status, b.invalid_flag, b.confirm_time, b.finish_time, b.created_at
        FROM dbo.produce_batch b
        WHERE b.invalid_flag = '0'
        <if test="sterilizationOrderNo != null and sterilizationOrderNo != ''">
            AND b.sterilization_order_no LIKE CONCAT('%', #{sterilizationOrderNo}, '%')
        </if>
        <if test="createdAtStart != null and createdAtStart != ''">
            AND b.created_at &gt;= CAST(#{createdAtStart} AS DATETIME)
        </if>
        <if test="createdAtEnd != null and createdAtEnd != ''">
            AND b.created_at &lt; DATEADD(DAY, 1, CAST(#{createdAtEnd} AS DATETIME))
        </if>
        ORDER BY b.created_at DESC
    </select>

</mapper>
